<% provide(:title, "Update") %>
<% provide(:button_text, 'Save') %>

<h1>Update profile</h1>
<div class="row">
  <div class="col-md-1 col-md-offset-3">
    <div class="gravatar_edit">
      <a href="http://gravatar.com/emails" target="_blank" style="margin-left: 15px;">change</a>
      <%= gravatar_for @user %>
    </div>
  </div>
</div><br>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= render 'shared/error_messages' %>
    <%= render 'core_form' %>
  </div>
</div>
