<% if object.errors.any? %>
  <div id="error_explanation">
    <div class="alert alert-danger">
      There are <%= pluralize(object.errors.count, "problem") %> with your form.
    </div>
    <ul>
    <% object.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>
